/* importando fuente */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

/* Reseteo */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* body */
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ffffff;
}
::selection{
  color: #fff;
  background: #4D59FB;
}
h1{
  text-align: center;
}
ul{
  text-decoration: none;
  list-style: none;
}

li{
  padding: 10px 0px 5px 0px
}